@model IEnumerable<TrackBack.Models.Bookmark>

@{
    ViewData["Title"] = "Index";
}

    <h1>All Bookmarks</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    Project
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Title)
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-action="Dashboard" asp-route-id="@item.ProjectId" asp-controller="Projects" class="btn btn-primary">Project</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
