@model TrackBack.Models.Project

@{
    ViewData["Title"] = "Dashboard";
}

<h1>@Model.Title</h1>

<div>
    <a asp-controller="Bookmarks" asp-action="Create" asp-route-projectId="@Model.Id" class="btn btn-success m-2">New Bookmark</a>
</div>
@if (Model.Bookmarks.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width:50%">
        <thead>
            <tr>
                <th>
                    Bookmarks
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bm in Model.Bookmarks)
            {
            <tr>
                <td><a href="@bm.Url">@bm.Title</a></td>
                <td class="text-center">
                    <div class="w-50 btn-group" role="group">
                        <a asp-controller="Bookmarks" asp-action="Edit" asp-route-id="@bm.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="Bookmarks" asp-action="Delete" asp-route-id="@bm.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bookmarks to display.</p>
}

<div>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
