@model TrackBack.Models.Project

@{
    ViewData["Title"] = "Dashboard";
}

<h1>@Model.Title</h1>

<div class="d-flex mw-100">
    <div class="flex-column w-50 mr-2">
        <div>
            <a asp-controller="Bookmarks" asp-action="Create" asp-route-projectId="@Model.Id" class="btn btn-success m-2">New Bookmark</a>
        </div>
        @if (Model.Bookmarks.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Bookmarks
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bm in Model.Bookmarks)
                    {
                        <tr>
                            <td><a href="@bm.Url">@bm.Title</a></td>
                            <td class="text-center">
                                <div class="w-50 btn-group" role="group">
                                    <a asp-controller="Bookmarks" asp-action="Edit" asp-route-id="@bm.Id" class="btn btn-info">Edit</a>
                                    <a asp-controller="Bookmarks" asp-action="Delete" asp-route-id="@bm.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No bookmarks to display.</p>
        }
    </div>

    <div class="flex-column w-100">
        <div>
            <a asp-controller="Todos" asp-action="Create" asp-route-projectId="@Model.Id" class="btn btn-success m-2">New Todo</a>
        </div>
        @if (Model.Todos.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Task
                        </th>
                        <th>
                            Details
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var todo in Model.Todos)
                    {
                        @if (!todo.Completed)
                        {
                            <tr>
                                <td>@todo.Title</td>
                                <td>@todo.Description</td>
                                <td class="text-center">
                                    <div class="w-50 btn-group" role="group">
                                        <a asp-controller="Todos" asp-action="Edit" asp-route-id="@todo.Id" class="btn btn-info">Edit</a>
                                        <a asp-controller="Todos" asp-action="SoftDelete" asp-route-id="@todo.Id" class="btn btn-danger">Finish</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No todos to display.</p>
        }
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
