@model IEnumerable<TrackBack.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<div class="backcard">
    <h1>All Projects</h1>
    <table class="table table-bordered table-striped w-75">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="w-75">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-action="Dashboard" asp-route-id="@item.Id" class="btn btn-primary">Dashboard</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i></a>
    </p>
</div>
